*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.inputValue{
    padding-left: 15px;
    margin-bottom: 15px;
    border: 1px solid grey;
    border-radius: 3px;
}

.button{
    background-color: #5098e6;
    color: white;
    border: none;
    border-radius: 3px;
}

.history{
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1px solid black;
}

.card{
    background-color: #4e6277;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 20px;
    list-style: none;
}

.five{
    padding-left: 20px;
}

.btn{
    width: 200px;
    margin: 5px;
}

#myImage{
    position: absolute;
    top: 30px;
    left: 670px;
}

#myImage2, #myImage3, #myImage4, #myImage5, #myImage6 {
    width:80px;
    height: 80px;
}

h1{
    background-color: #5098e6;
    color: white;
    display: flex;
    justify-content: center;
}